@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sigmar&display=swap');
html {
    font-size: 100%;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #001219;
}

body p {
    color: #fff;
    font-size: 1.2rem;
}

body h1 {
    color: #fb8500;
    font-size: 3rem;
    font-family: Sigmar;
}

body .container{
    background-color: #457b9d;
    border-radius: 1rem;
    width: 40rem;
    height: 40rem;
}

article {
    padding: 2rem;
}

.container article p {
    color: #dad7cd;
    font-family: Roboto;
}

body article h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 1.6rem;
    font-family: Poppins;
    color: #252422;
}

body > p {
    font-family: Nunito;
}

/* responsiveness */
@media (max-width: 319px) {
    html {
        font-size: 40%;
    }
    body h1 {
        font-size: 1.5rem;
    }
}
@media (min-width: 320px) and (max-width: 720px) {
    html {
        font-size: 50%;
    }
    body h1 {
        font-size: 1.8rem;
    }
    .disclaimer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .container {
        width: 50%;
    }

}
