@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sigmar&display=swap');
html {
    font-size: 100%;
}
body {
    background-color: #023047;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #264653;
    width: 25rem;
    height: 35rem;
    margin: 10rem;
    border-radius: 2rem;
    box-shadow: 1rem 0.1rem 1rem 1rem;
}

.container h1 {
    font-size: 2rem;
    text-align: center;
    font-family: monospace;
    color: #fb8500;
}

.container label {
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.container input {
    width: 100%;
    height: 1.3rem;
    color: #023047;
    font-size: 1.1rem;
    border-radius: 0.4rem;
}

.container input:focus {
    outline: none;
    border-color: lightgreen;
}

.container input:valid {
    border-color: green;
}

.container input:invalid {
    border-color: red;
}

.container textarea {
    resize: none;
}

.container  #submit {
    background-color: #669bbc;
    color: #000;
    height: 1.5rem;
}

.container #submit:hover {
    transform: scale(1.1);
    background-color: #001219;
    transition: background-color 3s ease-in-out, transform 3s ease;
    color: #fff;
}

/* media queries */