body {
    background-color: #023047;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    background-color: #264653;
    width: 25em;
    height: 35em;
    margin: 10em;
    border-radius: 2em;
    box-shadow: 1em 0.1em 1em 1em;
}

.container h1 {
    font-size: 2em;
    font-family: monospace;
    color: #fb8500;
}

.container label {
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 1.5em;
}

.container input {
    width: 100%;
    height: 1.3em;
    color: #023047;
    font-size: 1.1em;
    border-radius: 0.4em;
}

.container input:focus {
    outline: none;
    border-color: lightgreen;
}

.container input:valid {
    border-color: green;
}

.container input:invalid {
    border-color: red;
}

.container textarea {
    resize: none;
}

.container  #submit {
    background-color: #669bbc;
    color: #000;
    height: 1.5em;
}

.container #submit:hover {
    transform: scale(1.1);
    background-color: #001219;
    transition: background-color 3s ease-in-out, transform 3s ease;
    color: #fff;
}