*, ::before, ::after {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(13, 13, 128, 0.705);
    box-sizing: border-box;
}

#navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 7em;
}

#navbar span {
    font-weight: bold;
    font-size: 2em;
}

#navbar ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2em;
    list-style-type: none;
}

#navbar ul li a {
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
}

#navbar ul li a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 7em;
}

main h1 {
    color: khaki;
    font-size: 6em;
    font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.flex-container {
    display: flex;
    justify-content: space-around;
    flex: 1;
    gap: 10em;
    border-top: 1px double #fff;
    border-bottom: 1px solid #fff;
    padding: 2em;
}

/* .projects { */
    /* border: 1px; */
/* } */

.projects h2{
    font-family: 'Times New Roman', Times, serif;
}

.projects ul {
    list-style-type: none;
    line-height: 3em;
}

.projects ul li {
    border-bottom: 1px solid black;
}

.experience {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    padding: 0 2em;
}

.experience div a {
    color: #fff;
    text-decoration: none;
}

.experience div a:hover {
    text-decoration: underline;
}

.education ul {
    list-style-type: none;
}


