*, ::before, ::after {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #023047;
    box-sizing: border-box;
}

#navbar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 7em;
}

#navbar span {
    font-weight: bold;
    font-size: 2em;
    color: #fff;
}

#navbar ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2em;
    list-style-type: none;
}

#navbar ul li a {
    color: #219ebc;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: underline;
}

#navbar ul li a:hover {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 7em;
}

main h1 {
    color: #fb8500;
    font-size: 6em;
    font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.flex-container {
    display: flex;
    justify-content: space-around;
    flex: 1;
    gap: 10em;
    border-top: 1px double #fff;
    border-bottom: 1px solid #fff;
    padding: 2em;
}

.flex-container h2, .reviews h2 {
    color: #fff;
}

.flex-container p, .flex-container ul li {
    color: #8ecae6;
}

.flex-container ul li:hover {
    color: #fff;
    text-decoration: underline;
    transition: color 3s ease;
    cursor: pointer;
}

/* .projects { */
    /* border: 1px; */
/* } */

.projects h2{
    font-family: 'Times New Roman', Times, serif;
}

.projects ul {
    list-style-type: none;
    line-height: 3em;
}

.projects ul li {
    border-bottom: 1px solid black;
}

.projects button {
    margin-top: 0.7em;
    background-color: #219ebc;
    color: #fff;
    width: 14em;
    height: 4em;
    font-size: 1em;
    border-radius: 1em;
    animation: slide 4s ease-in-out 4s infinite forwards;
}

@keyframes slide {
    0% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(100px);
    }
}

.projects button:hover {
    cursor: pointer;

}

.experience {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    padding: 0 2em;
}

.experience h3 {
    color: #fff;
}

.experience div a {
    color: #fff;
    text-decoration: none;
}

.experience div a:hover {
    text-decoration: underline;
}

.education ul {
    list-style-type: none;
}

.reviews {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.cards-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 3em;
}

.card {
    display: flex;
    width: 18em;
    flex-wrap: wrap;
    background-color: #caf0f8;
    color: #2d2d2d;
    border-radius: 0.5em;
    box-shadow: 0.1em 0.1em 0.5em 0.1em;
    padding: 1.3em;
    filter: blur(1.5px);
}

.card:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 4s ease, filter 4s ease;;
    filter: blur(0px);
}

.card p:nth-child(2){
    color: #999;
}

footer {
    text-align: center;
    margin: 2em;
}

footer small {
    color: #fff;
    font-size: 1.2em;
    font-style: italic;
}


