@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sigmar&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
}

body {
    background-color: #023047;
    overflow-y: auto;
    /* overflow-x: hidden; */
    box-sizing: border-box;
    min-height: 100vh;
}

#navbar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 7rem;
}

#navbar span {
    font-weight: bold;
    font-size: 1.7rem;
    color: #fff;
    font-family: Georama;
}

#navbar ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    list-style-type: none;
}

#navbar ul li a {
    color: #219ebc;
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: underline;
    font-family: Montserrat Underline;
}

#navbar ul li a:hover {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 7rem;
}

main h1 {
    color: #fb8500;
    font-size: 4rem;
    font-family: Sigmar;
}

#catchy-text {
    color: #fff;
    font-family: Poppins;
    font-size: 1.8rem;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    flex: 1;
    gap: 10rem;
    border-top: 0.1rem double #fff;
    border-bottom: 0.1rem solid #fff;
    padding: 2rem;
}

.flex-container h2, .reviews h2 {
    color: #fff;
    font-family: Nunito;
}

.flex-container p {
    word-spacing: 0.1rem;
}

.flex-container p, .flex-container ul li {
    color: #8ecae6;
    font-family: sans-serif;
}

.flex-container ul li:hover {
    color: #fff;
    text-decoration: underline;
    transition: color 3s ease;
    cursor: pointer;
}

.projects ul {
    list-style-type: none;
    line-height: 3rem;
}

.projects ul li {
    border-bottom: 1px solid black;
}

.projects button {
    margin-top: 0.7rem;
    background-color: #219ebc;
    color: #fff;
    width: 14rem;
    height: 4rem;
    font-size: 1rem;
    border-radius: 1rem;
    animation: slide 4s ease-in-out 4s infinite forwards;
}

@keyframes slide {
    0% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(100px);
    }
}

.projects button:hover {
    cursor: pointer;
}

.experience {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border-left: 0.1rem solid #fff; */
    /* border-right: 0.1rem solid #fff; */
    padding: 0 2rem;
}

.experience h3 {
    color: #fff;
}

.experience div a {
    color: #fff;
    text-decoration: none;
    font-family: Montserrat Underline;
}

.experience div a:hover {
    text-decoration: underline;
}

.education ul {
    list-style-type: none;
}

.reviews {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cards-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 3rem;
}

.card {
    display: flex;
    width: 18rem;
    flex-wrap: wrap;
    background-color: #caf0f8;
    color: #2d2d2d;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem;
    padding: 1.3rem;
    filter: blur(1.5px);
    transition: transform 4s ease;
}

.card p {
    font-family: sans-serif;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 4s ease, filter 4s ease;
    filter: blur(0px);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

footer small {
    color: #fff;
    font-size: 1.2rem;
    font-style: italic;
    font-family: Poppins;
}

/* responsiveness */

@media (max-width: 720px) {
    html {
        font-size: 60%;
    }
    body {
        height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        position: sticky;
        justify-content: center;
        align-items: center;
    }
    #navbar ul {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #navbar ul li {
        display: block;
    }
    main h1 {
        font-size: 2rem;
    }
    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .reviews {
        display: flex;
        flex-direction: column;
    }
    .cards-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 768px) {
    html {
        font-size: 60%;
    }
}

@media (min-width: 1000px) {
    html {
        font-size: 80%;
    }
    body {
        overflow: scroll;
    }
}