* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    background-image: linear-gradient(#bde0fe, #a2d2ff);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #a3b18a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 3rem;
    padding: 1rem 0;
}

.card {
    background-color: #fff;
    width: 15rem;
    height: 25rem;
    border-radius: 0.3rem;
    padding: 1rem;
}

.card:nth-child(2) .text {
    height: 30%;
}

.image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.85rem;
    height: 40%;
    width: 100%;
    border-radius: 0.3rem;
    padding: 0 0.5rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

button {
    width: 6rem;
    height: 2rem;
    font-size: 1rem;
    background-color: #f7b801;
    color: #000;
    border-radius: 0.2rem;
    outline: none;
    transition: background-color 4s ease, scale 3s ease;
}

button:hover {
    background-color: #f4f;
    transform: scale(1.1); 
}